/* This is a placeholder for phone viewing */
/* body {
  padding: 5px;
  font: 12px Tahoma, "NI7SEG", "Kartika", "Lucida Grande", "Cambria", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
