
form(method="post", action="/tag/new")
  fieldset
    legend="Add A Tag"
    .clearfix
      .input
        input.xlarge#title(type="text", name="tag[name]")
    .actions
      input.btn.primary(type="submit", value="Add Tag")
      |   
      a.btn(href="/index") Cancel
