block cart
  #cartDiv The div is carty
  append scripts
    script(type='text/javascript', src='../script/cart.js')
    script(type='text/javascript')
      cart = loadCart("cartDiv");

      cart.addItem("tatg4", "bowler", "child", "cute", 45.23);
      cart.addItem("toog5", "homburg", "beaver felt", "ortho", 224.00);
