block catalog
  #catalogDiv Catalog
  script(type="text/javascript", src="/script/util.js")
  script
    console.log("ITEMS isssss....  ......");
    var items = !{JSON.stringify(items)}; 
  script(type="text/javascript", src="/script/catalog.js")
