!!!5
html
  head
    title= title
    include scripts
  body
    .navbar.navbar-inverse.navbar-fluid-top
      .navbar-inner
        .container
          //- .nav-collapse
          h3: a(href="/")= title
          ul.nav
            li: a(href="/item/add") Add Item
            li: a(href="/tag/add") Add Tag
            li: a(href="/user/add") Add User
            li: include cart
            li: include login

    .container
      .row-fluid
       .content
        .span12
          br
          block center

    .container
      .row-fluid
        .content
          include catalog
