!!!5
html
  head
    title= title
    include scripts
  body
    .navbar.navbar-inverse.navbar-fluid-top
      .navbar-inner
        .container
          //- .nav-collapse
          h3: a(href="/")= title
          ul.nav
            li: a(href="/item/add") Add Item
            li: a(href="/tag/add") Add Tag
            li: include cart
    .container
      .row-fluid
       .content
        .span9
          br
          block center
          include catalog
        .span3
          br
          | Hello sidey
          
