// Client side common head contents and javascript included by layout
// minus cart, which is in cart.jade
meta(charset='utf-8')
link(rel="stylesheet", href="/style/bootstrap231.css")

// NOTE: navbarpad.css must be linked between bootstrap and responsive
link(rel="stylesheet", href="/style/navbarpad.css")

meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="/style/bootstrap231-responsive.css")
script(type="text/javascript", src="/script/bootstrap231.js")
script(type="text/javascript", src="http://code.jquery.com/jquery-1.9.1.js")
script(type="text/javascript", src="http://code.jquery.com/jquery.min.js")

